* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2b2b2b;
  color: #e0e0e0;
}

/* Header */
header {
  background-color: #1f1f1f;
  padding: 30px 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  color: #ffffff;
}

header p {
  margin-bottom: 20px;
  color: #bbbbbb;
}

.clubs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;      /* No permite salto de línea */
  overflow-x: auto;       /* Por si la pantalla es muy pequeña */
  margin: 0 auto;
}


/* Cuadros más pequeños */
.club {
  width: 48px;
  height: 48px;
  background-color: #2b2b2b;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;         /* Evita que se deformen */
  transition: background 0.2s;
}

/* Imagen */
.club img {
  max-width: 85%;
  max-height: 85%;
}

/* Hover */
.club:hover {
  background-color: #3a3a3a;
}


/* Main */
main {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Tabla */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1f1f1f;
}

thead {
  background-color: #333333;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #444444;
}

th {
  color: #ffffff;
}

tbody tr:hover {
  background-color: #2f2f2f;
}

/* Footer */
footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  color: #aaaaaa;
  font-size: 14px;
}
/* Logos dentro de la tabla */
table .logo {
  width: 25px;       /* ancho */
  height: 25px;      /* alto */
  margin-right: 5px; /* espacio entre logo y nombre */
  vertical-align: middle;
}
/* Alinear los nombres de los equipos a la izquierda */
table td:nth-child(2) {
  text-align: left;
}
.sort-arrows {
  font-size: 12px;
  margin-left: 5px;
  color: #bbbbbb;
  cursor: pointer;
}

.sorted-asc .sort-arrows::after {
  content: "▼";   /* solo flecha abajo al ordenar asc */
}

.sorted-desc .sort-arrows::after {
  content: "▼";   /* solo flecha abajo al ordenar desc */
}

.sorted-asc .sort-arrows::before,
.sorted-desc .sort-arrows::before {
  content: "";   /* oculta la flecha arriba */
}
.header-logo {
  height: 60px;       /* altura más pequeña */
  width: auto;        /* ancho ajusta automáticamente */
  vertical-align: middle;
  margin-right: 10px;
}


